/* HOME PAGE */

/* SMACSS layout - https://smacss.com/book */
/*******************************************************
Base
*******************************************************/
h1, .hero-text {
    text-shadow: 5px 5px 5px #000000;
    font-family: 'Futura-CondensedExtraBold', Arial, sans-serif;
    font-size: 250%;
    line-height: normal;
    letter-spacing: normal;
}

h2 {
    font-size: 15px;
    color: #e3e3e3;
    font-family: Futura, Arial, sans-serif;

}

footer {
  font-family: 'Zilla Slab', serif;
	margin: 10px 35px -2px 5px;
	font-size: 12px;
	color: #9e9e9e;
}

/*******************************************************
Layout
*******************************************************/
.background {
    margin-top: 36%; /* change how much of background image is visible */
    padding-bottom: 25px;
    font-family: Futura, Arial, sans-serif;
    color: silver;

}

.container {
    gap: 7%;
    grid-template-columns: 1fr 1fr 1fr;
}


.column_1 {
    grid-column: 1 / 2;

}

.column_2 {
    font-size: 13px;
}

/*******************************************************
Modules
*******************************************************/
/* larger font */
.h1_index {
    font-size: 300%;

}

.container p {
    line-height: 21px;
}

.column_3 a {
    font-size: 30px;
}

@media (max-width: 900px) {
    .column_3 a {
        /* instructions from w3schools.com */
        font-size: 3vw;

    }
}

/* meet the students */
.button {
	text-decoration: none;
    text-align: center;
    padding: 18%;
    border: 2px solid black;
    background-color: #c6e14d;
    color: black;
    display: block;
    font-size: 30px;
    border-radius: 15px;
	font-family: Futura, Arial, sans-serif;
  	margin: 0px 2px;
  	transition-duration: 0.4s;
  	cursor: pointer;
}

.button:hover {
	background-color: #b8ff99;
}

.youtube {
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 5px;
}
