/* home page */
/* SMACSS layout - https://smacss.com/book */
/*******************************************************
Base
*******************************************************/ 
header {   
    padding-top: 21.5%;
}

a {
	text-decoration: none;
}

.h1_index {
    font-size: 300%;

}
 
h1 {
	text-shadow: 6px 6px 8px #000000;
	font-family: 'Futura-CondensedExtraBold', Arial, sans-serif;
	font-size: 250%;
    line-height: normal;
    letter-spacing: normal;
}

h2 {
    font-size: 15px;
    color: #e3e3e3;
    font-family: Futura, Arial, sans-serif;

}

.container p {
    line-height: 21px;
}

/*******************************************************
Layout
*******************************************************/ 


.background {
    margin-top: 45%; /* change how much of background image is visible */
    padding-bottom: 25px;
    font-family: Futura, Arial, sans-serif;
    color: silver;

}

.container {
    grid-gap: 7%;
    grid-template-columns: 1fr 1fr 1fr;
}


.column_1 {
    grid-column: 1 / 2;

}

.column_2 {
    font-size: 13px;
}


/*******************************************************
Modules
*******************************************************/ 
.button {
	text-decoration: none;
    text-align: center;
    padding: 18%;
    width: 50%;
    border: 2px solid black;
    background-color: #c6e14d;
    color: black;
    display: block;
    font-size: 30px;
    border-radius: 15px;
	font-family: Futura, Arial, sans-serif;
  	margin: 13px 2px;
  	transition-duration: 0.4s;
  	cursor: pointer;
}

.button:hover {
	background-color: #b8ff99;
}

.youtube {
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 5px;

}
