@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&family=Roboto&family=Zilla+Slab&display=swap');

.new-btn{
	font-size: 30px;

	position: absolute;
	left: 50%;
	transform: translate( -50%, 0);
	top: 13px;

	color: white;
}

.logout-reset{
	width: 20%;
}

.modify-done{
	position: fixed;
    width: 100%;
    bottom: 0;
    height: 40px;
    background-color: white;

    text-align: center;
}
.modify-done a{
	display: block;
	font-size: 25px;
}

.col-centered 
{
    display:inline-block;
    float:none;
	text-align:left;
	margin: 0 auto;
    text-align: center;
}

.row-centered 
{
    text-align:center;
}

.form-background
{
	background-image: url(../images/digital_background.png);
}

.login
{
	background-color: black;
    padding: 50px;
    margin-top: 100px;
    border: solid 10px;
    border-color: rgb(0, 181, 229);
	color:white;
	font-family: 'Zilla Slab', serif;
	line-height: 1.5;
	font-size: 19px;
}



