@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&family=Roboto&family=Zilla+Slab&display=swap');

.new-btn{
	font-size: 20px;
	font-weight: 500;
	
	position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 50px;

	color: white;
	z-index: 3;
}

.logout-reset{
	width: 490px;
}

.modify-done{
	width: 100%;

    position: fixed;
    bottom: 0;
    padding: 0;

    font-size: 25px;
    z-index: 3;
}
.modify-done a{
	display: block;
	font-size: 30px;
	font-weight: 500;
	margin-top: -4px;
}


.col-centered 
{
    display:inline-block;
    float:none;
	text-align:left;
	margin: 0 auto;
}

.row-centered 
{
    text-align:center;
}

.form-background
{
	background-image: url(../images/digital_background.png);
}

.login
{
	background-color: black;
    padding: 50px;
    margin-top: 100px;
    border: solid 10px;
    border-color: rgb(0, 181, 229);
	color:white;
	font-family: 'Zilla Slab', serif;
	line-height: 1.5;
	font-size: 19px;
}

.modify
{
    background-color: black;
    margin-top: 100px;
    border: solid 10px;
    border-color: rgb(0, 181, 229);
    color: white;
    font-family: 'Zilla Slab', serif;
    line-height: 1.5;
	font-size: 19px;
	padding-top: 20px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-left: 25px;
}

.help-block, .has-error, .has-error .form-control
{
	color: #a94442;
	border-color: #a94442;
}

.login-wrapper{ width: 350px; padding: 20px; }

.form-wrapper{ width: 700px; padding: 20px; }



