.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    color: silver;
    grid-gap: 40px;
  }

  img{
    margin: 5px 10px 5px 10px;
    width: 209px;
    height: 266px;
    border-radius: 15px;
    border: 2px solid #ffffff;

  }

  h2 {
    font-size: 30px;
    color: white;
    font-style: normal;
    margin-left: -3px;
  }

  h3 {
    font-size: 24px;
    font-weight: normal;

  }

  .list-footer {
    margin-top: 30px;
    margin-right: 8%;
    margin-bottom: 5px;

    grid-column: 2 / 4;
    text-align: center;

    font-style: italic;
    color: silver;
    font-size: 15px;
}

  .button {
    border: 2px solid #ffffff;
    border-radius: 30px;
    font-family: Futura, Arial, sans-serif;
    color: white;
    background-color: #001b3d;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

  }
  
  .button:hover {
    background-color: #009eed;
  }

.grid_item_student {
    /* padding-left: 10%; */
    line-height: 1.2;
}

/* .grid_item_photo {
    margin-right: 10%;
  } */
