/* SMACSS layout - https://smacss.com/book */
/*******************************************************
Base
*******************************************************/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&family=Roboto&family=Zilla+Slab&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../images/digital_background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  text-align: center;
  height: 80vh;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

section {
  color: #ffffff;
}

article,
aside {
  color: silver;
}

h1 {
  /* font-family: "Montserrat", Arial, sans-serif; */
  font-size: 100%;
  letter-spacing: 0.5px;
  /* text-shadow: 5px -5px 5px #000000; */
  vertical-align: middle;
}

h2 {
  font-family: "Montserrat", Arial, sans-serif;
  color: white;
}

h3 {
  padding-bottom: 1%;
  padding-top: 2%;
  font-size: 30px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  padding-top: 2%;
  padding-bottom: 0.8%;
}

ul {
  padding-left: 3%;
}

/*.banner form, .banner h2 {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	top: 22px;
	right: 16px;
	font-size:20px;
	transition-duration: 0.4s;
}

.banner input{
	border: 1px solid #949494;
	border-radius: 7px;
	padding: 3px;
	margin-left: 5px;
	font-style: italic;
}

.banner label {
	color: #ffffff;
	text-shadow: 2px 2px 5px #000000;
	font-family: Montserrat, Arial, sans-serif;
	margin-right: 3px;
	margin-top: 5px;
}
*/
footer {
  margin-top: 30px;
  margin-bottom: 5px;

  grid-column: 2;
  text-align: center;

  font-style: italic;
  color: silver;
  font-size: 15px;
}

a {
  text-decoration: none;
}

/*******************************************************
Layout
*******************************************************/
.banner {
  background-color: rgba(0, 181, 229, 1);
  background-position: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  position: fixed;
  transition-duration: 0.4s;
  z-index: 3;
  font-family: 'Zilla Slab', serif;
}

.logo {
  color: #ffffff;
  /* font-family: "Montserrat", Arial, sans-serif; */
  font-family: 'Zilla Slab', serif;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 2px;
  /* text-shadow: 5px 5px 12px #000000; */
  text-align: center;
  padding: 5px;
  position: fixed;
  top: 8px;
  left: 16px;
  transition-duration: 0.4s;
}

/* main content */
.background {
  /* grid specifications */
  margin-top: 26%; /* control how much of background image is visible */
  width: 100%;
  margin-left: 0;
  padding-top: 25px;
  position: absolute;
  z-index: 2;
  background-color: #020b0e;
  background-size: 100% 100%;
  font-family: "Zilla Slab", serif;
  border-top: 1px solid gray;
  line-height: 1.5;
  font-size: 19px;
  background-size: cover;
}

/* .container {
  display: grid;
  grid-template-columns: 21.6% 21.6% 28.8%;
  gap: 130px;
  margin: 0 auto;
  width: 85%;
  max-width: 1000px;
} */

/* article */
.background article {
  grid-column: 1/3;
  max-width: 100%;
}

/* aside */
.background aside {
  grid-column: 3/4;
  font-family: "Zilla Slab", serif;
}

#add-entry,
#reset,
#login,
#logout,
#modify {
  color: white;
  font-size: 22px;
  position: relative;
  top: 5px;
}
#login,
#logout {
  font-size: 30px;
}
#add-entry:hover,
#reset:hover,
#login:hover,
#logout:hover,
#modify:hover {
  text-decoration: underline;
}

/*******************************************************
Modules
*******************************************************/
.h1-large {
  font-size: 250%;
  letter-spacing: 1px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 40px;
  margin-bottom: 4px;
}

.external_link {
  font-size: 19px;
  font-weight: bold;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.extra_space {
  margin-top: 40px;
}

div h4 {
  margin-left: 1vw;
}

aside a {
  text-decoration: none;
  color: black;
  padding: 5px 25px 5px 15px;
  border: 2px solid black;
  background-color: #0cf2a6;
  display: block;
  font-size: 18px;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  width: 25%;
  margin-left: -2px;
  margin-top: 2px;
}

.real_link {
  /* arrow from icons8.com. Link to outside work. */
  background-image: url(../images/external_arrow.png);
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 93% 40%;
}

.logo:hover {
  text-shadow: 5px 5px 12px #b8ff99;
}

.back-button {
  text-decoration: none;
  border: 2px solid black;
  background-color: #c6e14d;
  color: black;
  display: block;
  font-size: 25px;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  margin: 40px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  width: 25%;
  padding-right: 7px;
  /* arrow from https://img.pngio.com */
  background-image: url(../images/back_arrow.png);
  background-repeat: no-repeat;
  background-position: 1% 50%;
}

@media (max-width: 1000px) {
  .real_link,
  .back-button {
    background-size: 0px;
    font-size: 15px;
  }
}

.back-button:hover {
  background-color: #b8ff99;
}
